@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg,#08723d,#14307c);
}

.wrapper {
  width: 90vw;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.wrapper input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #222;
}

.wrapper .text {
  line-height: 1.6;
  margin-top: 20px;
  text-align: justify;
}
